<!-- <app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">Register</h5>
      <form (ngSubmit)="addUser()" #registerForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"
                  required email
                  [(ngModel)]="user.email" name="email"
                  #email="ngModel">
          <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
            <p *ngIf="email.errors?.required">Name is required</p>
            <p *ngIf="email.errors?.email">Email format is incorrect</p>
          </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                    required 
                    [(ngModel)]="user.password" name="password"
                    #password="ngModel">
          </div>
        <button type="submit" class="btn btn-success w-100" [disabled]="!registerForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div> -->

<app-mini-nav></app-mini-nav>
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="w-50 m-auto signup">
          <h5 class="mb-2">Sign Up</h5>
          <form (ngSubmit)="addUser()" #registerForm="ngForm">
            <div class="form-group">
              <input type="email" class="form-control" id="email"
                      required email placeholder="example@example.com"
                      [(ngModel)]="user.email" name="email"
                      #email="ngModel">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password"
                      required placeholder="********"
                      [(ngModel)]="user.password" name="password"
                      #password="ngModel">
            </div>
            <button type="submit" id="regBtn" class="btn btn-success w-100" [disabled]="!registerForm.form.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>