.wrap {
  margin-top: 90px;
  margin-bottom: 150px;
}
.signup {
  padding: 50px;
  background-color: white;
  box-shadow: 0px 3px 8px grey;
  text-align: center;
  border-radius: 5px;
}

#email, #password, #regBtn {
  border-radius: 10px;
}

input.ng-invalid.ng-touched {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(197, 0, 0, 0.877);
}

@media only screen and (max-width: 991px) {
  .wrap {
    margin-top: 60px; margin-bottom: 60px;
  }
  
  .signup {
    width: 100% !important;
  }
}
