<app-mini-nav></app-mini-nav>
<div class="wrap">
  <div class="container">
    <div class="row login">
      <div class="col-lg-6 login-form">
        <h4 class="text-center">Sign In</h4>
        <form class="loginForm" (ngSubmit)="logIn()" #loginForm="ngForm"> 
          <input type="email" name="email" id="email" required email
                 autocomplete="off" placeholder="example@gmail.com"
                 [(ngModel)]="user.email" #email="ngModel">
          <br>
          <input type="password" name="password" id="password" placeholder="********"
                 required [(ngModel)]="user.password"
                 #password="ngModel">
          
          <button type="submit" class="btn btn-success w-100 mt-4"
                  [disabled]="!loginForm.form.valid">Submit</button>
        </form>
        <p class="mt-1"><a routerLink="/register" class="regis-link">Dont have account? Click here</a></p>
      </div>
      <div class="col-lg-6 login-img d-none d-lg-block">
        <img src="assets/login-bg.jpg" alt="">
      </div>
    </div>
  </div>
</div>
