.wrap {
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.login {
  border: 2px solid grey;
  box-shadow: 1px 1px 1px #675d5d7a;
  width: 80%;
  margin: auto;
}

.login-img {
  height: 400px;
  padding: 0px;
}

.login-img img {
  width: 100%;
  height: 100%;
}

.login-form {
  padding: 40px 50px;
  text-align: center;
}

#email, #password {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 100%;;
  margin-top: 10px;
  height: 40px;
  padding: 10px;
}

#email:focus, #password:focus{
  box-shadow: 0px 2px 2px -1px #3865e4f2;
}

input.ng-invalid.ng-touched {
  box-shadow: 0px 2px 2px -2px red;
}

.regis-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .login{
      width: 100%;
  }
}