.card {
    box-shadow: 0px 2px 2px -1px #808080bf;
}

.card img {
    height: 12rem;
}

.card-body {
    padding: 2rem;
    text-align: center;
    height: 12px;
}

.card-body-hr {
    width: 2rem;
    border: 1px solid grey;
}

.card-text {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: bold;
}

.post-link {
    color: black;
}

.post-link:hover {
    text-decoration: none;
}

.slider {
    height: 300px;
    background-image: url("assets/desk.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border: 10px solid #fffffffc;
    box-shadow: 1px 2px 18px 1px #80808069;
}

.post-list {
    min-height: 500px;
    border: 10px solid #fffffffc;
    box-shadow: 1px 2px 18px 1px #80808069;
}

@media only screen and (max-width: 991px) {
    .post-item {
        margin-top: 20px;
    }

    .card {
        width: 22rem !important;
    }
}