<app-mini-nav></app-mini-nav>
<div class="container p-0">
  <div class="slider mt-3"></div>

  <div class="post-list mt-4 mb-4 pt-3 pb-3 d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 post-item mt-3" *ngFor="let post of posts">
          <a routerLink="/post/{{post.id}}" class="post-link">
            <div class="card m-auto" style="width: 18rem; height: 24rem">
              <img src="assets/1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <hr class="card-body-hr">
                <p class="card-text">{{ (post.title > 75) ? (post.title | slice:0:75) + '..' : (post.title) }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>