<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-12">
        <h5 class="text-center">Edit Post</h5>
        <form (ngSubmit)="editPost()" #editPostForm="ngForm">
            <div class="form-group">
            <label for="title">Title</label>
            <input type="string" class="form-control" id="title"
                    required
                    [(ngModel)]="post.title" name="title"
                    #title="ngModel">
            <div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                <p *ngIf="title.errors?.required">Title is required</p>
            </div>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <ckeditor [editor]="Editor" type="string" id="content"
                        required 
                        [(ngModel)]="post.content" name="content"
                        #content="ngModel">
                </ckeditor>
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="!editPostForm.form.valid">Save</button>
        </form>
        </div>
    </div>
</div>