<app-mini-nav></app-mini-nav>
<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
        <h5 class="text-center">Create A Post</h5>
        <form (ngSubmit)="addPost()" #addPostForm="ngForm">
            <div class="form-group">
            <label for="title">Title</label>
            <input type="string" class="form-control" id="title"
                    required
                    [(ngModel)]="post.title" name="title"
                    #title="ngModel">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <ckeditor [editor]="Editor" type="string" id="content"
                        required 
                        [(ngModel)]="post.content" name="content"
                        #content="ngModel">
                </ckeditor>
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="!addPostForm.form.valid">Create A Post</button>
        </form>
        </div>
    </div>
</div>