.post{
    margin-top: 80px;
    padding: 100px;
    background-color: white;
    box-shadow: 0px 3px 8px #6464648f;
}

.post-detail {
    position: relative;
    top: -325px;
    margin: 0 auto;
    width: 70%;
}

.post-header {
    font-size: 50px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.post-header-hr {
    border: 2px solid #fffefebd;
    width: 4rem;
    margin-top: 30px;
}

.post-body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
}



@media only screen and (max-width: 991px) {
    
    .post-detail {
        width: 100%;
    }

    .post {
        margin-top: 171px;
        padding: 10px 15px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 576px) {
    .post {
        margin-top: 171px;
        padding: 10px 15px;
        box-shadow: none;
    }
}