<app-nav></app-nav>
<div class="post-detail">
  <h1 class="text-center text-white text-bold post-header">{{ post.title }}</h1>
  <hr class="post-header-hr">
  <div class="container post">
    <div class="row">
      <div class="col-12">
        <p class="text-justify post-body" [innerHTML]="post.content"></p>
      </div>
    </div>
  </div>
</div>
<app-comment [post]="post"></app-comment>
