.latest-article {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #c3c1c142;
}

hr {
    width: 60px;
    border: 2px solid black;
}

.posts {
    padding-top: 50px;
}

.card {
    box-shadow: 0px 2px 2px -1px #808080bf;
}

.card img {
    height: 12rem;
}

.card-body {
    padding: 2rem;
    text-align: center;
    height: 12px;
}

.card-body-hr {
    width: 2rem;
    border: 1px solid grey;
}

.card-text {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: bold;
}

.about .container-fluid {
    padding: 0;
}

.about .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}
.about .container-fluid .row .about-image {
    padding: 0;
}

.about-img {
    width: 100%;
    height: 600px;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.about-text {
    padding: 120px;
}

.about-text-hr {
    width: 2rem;
    border: 2px solid black;
    margin: 0 auto;
}

.about-text p {
    margin-top: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
}

.subscribe {
    height: 400px;  
    background-color: #c3c1c142;
    padding: 105px;
}

.sub-p {
    font-family: 'Satisfy', cursive;
    font-size: 17px;
    font-weight: 800;
}

.sub-form input {
    height: 50px;
    border: 5px solid white;
    background-color: #f5f5f5;
    font-family: 'Indie Flower', cursive;
    padding: 10px;
}

.sub-form button {
    margin-top: 15px;
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    font-weight: 600;
}

@media only screen and (max-width: 991px) {
    .sub-form input {
      width: 100% !important;
    }

    .post-item {
        margin-top: 20px !important;
    }

    .about-img {
        padding: 0;
    }

    .subscribe {
        padding: 50px;
    }

}

