<app-nav></app-nav>
<div class="latest-article">
  <div class="container-fluid">
    <h4 class="text-center"><span>LATEST ARTICLE</span></h4>
    <hr>
    <div class="row posts">
      <div class="col-12 col-lg-4">
        <div class="card m-auto post-item" style="width: 18rem; height: 24rem">
          <img src="assets/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <hr class="card-body-hr">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card m-auto post-item" style="width: 18rem; height: 24rem">
          <img src="assets/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <hr class="card-body-hr">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card m-auto post-item" style="width: 18rem; height: 24rem">
          <img src="assets/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <hr class="card-body-hr">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 about-img">
        <img src="assets/about.png" alt="">
      </div>
      <div class="col-12 col-lg-6 about-text">
        <h4 class="text-center">ABOUT</h4>
        <hr class="about-text-hr">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque purus nulla, maximus sagittis magna in, lobortis congue leo. 
            Suspendisse malesuada dictum nisi ac maximus. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Pellentesque id pharetra sem. Morbi sed tortor enim. Ut egestas fringilla quam sit amet dictum. 
            Pellentesque ut mauris vel diam ullamcorper iaculis. Sed scelerisque vestibulum erat ut tempus. 
            Nullam fringilla nisi ac elit venenatis, sed sollicitudin enim venenatis. Phasellus ut leo augue. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="subscribe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">SUBSCRIBE</h4>
        <p class="text-center sub-p">Sign up for our newsletter</p>
        <div class="text-center">
          <form action="" class="sub-form">
            <input type="text" class="w-50" placeholder="Leave your email here..."><br>
            <button type="submit">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

