.comment {
    background-color: #d2d1d1a6;
}

.comment .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.comment-h {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.comment-p {
    font-weight: bold;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}

.comment-form input {
    width: 50%;
    height: 4rem;
    border: 3px solid #80808030;
    background-color: #f1f1f1;
    padding-left: 10px;
}

.comment-form button {
    margin-top: 25px;
    padding: 10px 30px;
    border: 2px solid black;
    background-color: #d2d1d142;
}

.comment-form button:hover {
    background-color: #d2d1d1c2;
}

.comment-list {
    margin-top: 30px;
}

.comment-item {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.avatar {
    width: 60px;
    height: 60px;
}

.avatar img {
    border-radius: 50%;
    width: 100%;
}

.username {
    font-size: 14px;
    font-weight: bold;
}

.comment-content {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 17px;
}


@media only screen and (max-width: 991px) {
    .comment-item{
        width: 100%;
    }

    .comment-form input {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .comment-content {
        padding-right: 15px;
    }
}