<!-- <div class="container">
    <h5>Comment</h5>
    <form (ngSubmit)="addComment()" #commentForm="ngForm" *ngIf="user">
      <div class="form-group">
        <textarea type="content" class="form-control" id="content"
                required 
                [(ngModel)]="comment.content" name="content"
                #content="ngModel"></textarea>
      </div>
      
      <button type="submit" class="btn btn-success float-right" [disabled]="!commentForm.form.valid">Submit</button>
    </form>
    <div class="row">
      <div class="col-12" *ngFor="let comment of comments">
        <strong>{{comment.email}}</strong>
        <p>''{{comment.content}}''</p>
      </div>
    </div>
</div> -->

<div class="comment">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center comment-h">LEAVE A COMMENT</h4>
          <p class="text-center comment-p"> And join the conversation</p>
          <form action="" class="comment-form text-center" (ngSubmit)="addComment()" #commentForm="ngForm">
            <input type="text" placeholder="Write a comment..."
                    required [(ngModel)]="comment.content" name="content"
                    #content="ngModel" [disabled]="!user"
            ><br>
            <button type="submit" [disabled]="!commentForm.form.valid">COMMENT</button>
          </form>
        </div>
        <div class="col-12 comment-list">
          <div class="comment-item" *ngFor="let comment of comments">
            <div class="row">
              <div class="col-2">
                <div class="avatar">
                  <img src="assets/avatar.jpg" alt="">
                </div>
              </div>
              <div class="col-10 p-0">
                <p class="d-inline username">{{comment.email}}</p><br>
                <p class="comment-content text-justify">{{comment.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
