<div class="slider"></div>

<div class="latest-post">
	<div class="container">
		<h3 class="text-center">Latest Post</h3>
		<hr>
		<div class="latest-body">
			<div class="container-fluid">
				<% @posts.each do |item| %>
					<div class="row">
						<div class="col-12 mt-4 latest-item">
							<div class="item-header">
								<strong><p class="mb-0"> <%= item.title.truncate(200) %> </p></strong>
								<%= item.content.truncate(350).html_safe %>
							</div>
							<div class="item-info mt-1">
								<span class="far fa-comment"> <%= item.comments.count %></span>
								<small><p class="text-right d-inline float-right"><%= item.user.username %></p></small>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>