<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-left">
        <ul class="social-list">
          <li class="social-item fb"><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li class="social-item insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
          <li class="social-item twitter"><i class="fa fa-twitter" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 text-right">
        <ul class="page-list">
          <li class="page-item">HOME</li>
          <li class="page-item">ARTICLES</li>
          <li class="page-item">ABOUT</li>
          <li class="page-item">CONTACT</li>
        </ul>
      </div>
    </div>
  </div>
</div>
