.footer {
    height: 100px;
    padding: 40px;
}

.page-list {
    display: inline-block;
}

.page-item {
    list-style-type: none;
    float:  left;
    margin-left: 10px;
    font-weight: 600;
}

.social-list {
    display: inline-block;
}

.social-item {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.fb {
    padding: 2px 2px 2px 8px;
}

.insta {
    padding: 1px 2px 2px 6px;
}

.twitter {
    padding: 1px 2px 2px 5px;
}

@media only screen and (max-width: 991px) {
    .page-list {
        float:right;
        padding: 0;
        display: block;
    }

    .social-list {
        padding: 0;
    }

    .page-list {
        float: right;
        display: block;
    }

    .page-item {
        margin-left: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .page-list {
        float: left;
        display: block;
        text-align: left;
    }

    .page-item {
        margin-left: 0;
        display: block;
        float: none;
    }

}