.nav-link {
  color:black !important;
}

.nav-item {
  margin-right: 10px;
  width: 80px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}

.active { 
  border: 2px solid black;
}

.dropdown-menu {
right: 0 !important;
left: auto !important;
}

@media only screen and (max-width: 991px) {
  .nav-item{
      text-align: left;
  }
}