<nav class="navbar navbar-expand-lg navbar-light bg-faded w-100">
    <div class="container">
      <a class="navbar-brand" routerLink="">X-Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink=""><strong>HOME</strong></a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/posts">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-o" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="user">
                <a class="dropdown-item" routerLink="/post/new">Create A Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="" (click)="logout()">Sign Out</a>
              </div>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="!user">
                  <a class="dropdown-item" routerLink="/login">Sign In</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/register">Sign Up</a>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>