.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
}

.bgimg {
    height: 650px;
    background-image: url('assets/slider.jpg');
    background-attachment: fixed;
    background-position: center top;
    position: relative;
}

.nav-link {
    color:white !important;
}

.nav-item {
    margin-right: 10px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.active { 
    border: 2px solid white;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

@media only screen and (max-width: 991px) {
    .nav-item{
        text-align: left;
        padding-left: 10px;
    }
}