/* You can add global styles to this file, and also import other style files */

.wrapper {
  min-height: 555px;
}

body {
  width: 100%;
}

.container, .container-fluid {
  padding: 0;
  margin: 0;
}