<div class="nav">
  <div class="container">
  <%= link_to '<h3 class="text-center"><strong class="text-danger">X</strong>-Blog</h3>'.html_safe, root_path, class:"w-100" %>
  <hr/>
  
  <div class="row">
    <div class="col-lg-6 col-xs-12 m-auto">
      <ul class="menu-bar">
        <li><%= link_to 'Home', root_path, class:"active" %></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle p-0" data-toggle="dropdown"><i class="far fa-user"></i></a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Sign In</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Sign Up</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>